## Section 2: Summary Statistics

In [2]:
import numpy as np
import pandas as pd
from scipy import stats
from collections import Counter

cars = pd.read_csv('cars.csv')
# Quickly clean data (all from 01_varialbes_types.ipynb)
cars['Weight'] = cars['Weight'].replace(['missing'], np.nan)
cars['Weight'] = cars['Weight'].astype('float')
cars['Rating'] = pd.Categorical(
    cars['Rating'], ['Bad', 'Good', 'Excellent'], ordered=True)
cars['Rating_codes'] = cars['Rating'].cat.codes
cars = pd.get_dummies(data=cars, columns=['Average Education'])

### Mean

In [3]:
cars['CO2'].mean()

102.48617077694443

In [6]:
example_array = np.array([24, 16, 30, 10, 12, 28, 38, 2, 4, 36])
np.average(example_array) # can also use np.mean()

20.0

### Median

In [7]:
cars['CO2'].median()

99.799675255

In [8]:
np.median(example_array)

20.0

### Mode

i.e. most frequent value

In [12]:
example_array2 = np.array([24, 16, 12, 10, 12, 28, 38, 12, 28, 24])
example_mode = stats.mode(example_array2)
'The mode is ' + str(example_mode[0][0]) + ' and it appears ' + str(
    example_mode[1][0]) + ' times out of ' + str(len(example_array))

'The mode is 12 and it appears 3 times out of 10'

### Frequency

Frequency of every unique value

In [15]:
counters = Counter(example_array2)
print(counters, counters.items())

Counter({12: 3, 24: 2, 28: 2, 16: 1, 10: 1, 38: 1}) dict_items([(24, 2), (16, 1), (12, 3), (10, 1), (28, 2), (38, 1)])

### Variance
Square all the differnces from the mean, then divide by count

In [16]:
dataset = [3, 5, -2, 49, 10]
variance = np.var(dataset)
variance

338.8

### Standard Deviation

Standard deviation is the square root of the variance.

In [17]:
standard_deviation_of_variance = variance ** 0.5
standard_deviation_of_variance

18.40652058374966

In [18]:
dataset = [4, 8, 15, 16, 23, 42]
standard_deviation = np.std(dataset)
standard_deviation_of_variance

18.40652058374966

### Filter

In [21]:
fiats = cars[cars['Car'] == 'Fiat']
fiats.head()

,Car,Model,Volume,Weight,CO2,Rating,Rating_codes,Average Education_bachelors,Average Education_high school,Average Education_masters,Average Education_post doctorate
3,Fiat,500,900.0,865.0,90.111976,Bad,0,1,0,0,0